.div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 100px;
    border: solid 1px white;
}

.swiper {
    width: 30vw;
    text-align: center;
}

.div a {
    color: white;
    text-decoration: none;
}

.div p {
    text-align: justify;
}

.div a:hover {
    text-decoration: underline;
}