@font-face {
    font-family: sudo;
    src: url('./sudo.ttf');
    
}

* {
    box-sizing: border-box;
    font-family: sudo;
}

body {
    padding: 0;
    margin: 50px 0 0 0;
    background: rgb(6,21,32);
background: radial-gradient(circle, rgba(6,21,32,1) 0%, rgba(9,14,18,1) 50%, rgba(9,14,18,1) 100%);
    color: white;
}